:root {
  --card-background: #0f0e17;
  --card-background-hover: #221f34;
  --card-title: #fffffe;
  --card-text: #0f0e17;
  --card-btn: #ff8906;
  --card-btn-hover: #ea7b00;
}

.App {
  height: 100vh;
  width: 100%;
}

.root {
  min-height: 100vh;
  width: 100%;
}

html {
  width: 100%;
  min-height: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}