.item-btn-delete {
  position: absolute;
  background-color: var(--card-btn-delete);
  
  border: none;
  cursor: pointer;
  
  right: 20px;
  
  width: 50px;
}

.item-btn-delete:hover {
  background-color: var(--card-btn-delete-hover);
}

.pos-top {
  top: 20px;
}

.pos-bottom {
  bottom: 20px;
}