.item-preview {
  display: flex;
  flex-direction: column;
  
  cursor: pointer;
  
  background-color: var(--card-background);
  padding: 20px;
}

.item-preview:hover {
  background-color: var(--card-background-hover);
}

.item-card-text-big {
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}